{% extends 'app/main/base.html' %}
{% load static %}
{% block content %}
    <div class="app-content p6 pb2 smp1">
        <div class="container-fluid p0">
            <!-- Page Top Start -->
            <div class="row mb6 align-items-center">
                <div class="col-md-12 mobile-bottom-fix">
                    <h1 class="page-title mb2">Edit shop</h1>
                    <nav class="breadcrumb-nav" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Products</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Edit shop</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!-- Page Top End -->

            <!-- Content Start -->
            <form method="post" action="{% url 'edit_product' form.instance.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row mb5">
                    <!-- Left Column Start -->
                    <div class="col-xxl-8">
                        <div class="row">
                            <!-- General Start -->
                            <div class="col-12 mb6">
                                <div class="card shadow-card p6">
                                    <div class="row">


                                    </div>
                                    <div class="col-12 mb5">
                                        <label for="add-form-1" class="form-label">
                                            <span>Product Title</span>
                                            <span class="text-danger">*</span>
                                            <i data-feather="info" stroke-width="2" width="12" class="text-body"
                                               data-bs-toggle="tooltip" data-bs-placement="right"
                                               data-bs-custom-class="qd-tooltip"
                                               data-bs-title="Type a name for the shop."></i>
                                        </label>
                                        <input id="add-form-1" class="form-control slug-target" type="text"
                                               name="title" value="{{ form.instance.title }}">
                                        <div class="invalid-feedback">Please fill out all fields.</div>
                                    </div>
                                    <div class="col-12 mb5">
                                        <label for="add-form-2" class="form-label">
                                            <span>Product Description</span>
                                            <span class="text-danger">*</span>

                                            <i data-feather="info" stroke-width="2" width="12" class="text-body"
                                               data-bs-toggle="tooltip" data-bs-placement="right"
                                               data-bs-custom-class="qd-tooltip"
                                               data-bs-title="The URL slug is automatically populated when you type the title."></i>
                                        </label>
                                        <input id="add-form-2" name="description" class="form-control slug-url"
                                               type="text" value="{{ form.instance.description }}">
                                    </div>


                                    <div class="col-12 mb5">
                                        <label for="add-form-6" class="form-label">
                                            <span>Edit Category</span>
                                            <span class="text-danger">*</span>
                                            <i data-feather="info" stroke-width="2" width="12" class="text-body"
                                               data-bs-toggle="tooltip" data-bs-placement="right"
                                               data-bs-custom-class="qd-tooltip"
                                               data-bs-title="Select if the category will be a subcategory of another category."></i>
                                        </label>

                                        <select id="add-form-6" class="form-select js-choice" required
                                                name="category">
                                            {% for  category in categories %}
                                                <option value="{{ category.id }}" style="color: black"
                                                        {% if form.instance.category.id == category.id %}selected{% endif %}>
                                                    {{ category.title }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                        <div class="invalid-feedback">Please select a category.</div>
                                    </div>


                                    <div class="col-12 mb5">
                                        <label for="add-form-6" class="form-label">
                                            <span>Edit Shop</span>
                                            <span class="text-danger">*</span>
                                            <i data-feather="info" stroke-width="2" width="12" class="text-body"
                                               data-bs-toggle="tooltip" data-bs-placement="right"
                                               data-bs-custom-class="qd-tooltip"
                                               data-bs-title="Select if the shop will be a subcategory of another shop."></i>
                                        </label>

                                        <select id="add-form-6" class="form-select js-choice" required
                                                name="shop">
                                            {% for  i in shops %}
                                                <option value="{{ i.id }}" style="color: black"
                                                        {% if form.instance.shop.id == i.id %}selected{% endif %}>

                                                    {{ i.title }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                        <div class="invalid-feedback">Please select a shop.</div>
                                    </div>

                                    <div class="col-12 mb5">
                                        <label for="add-form-2" class="form-label">
                                            <span>Product Amount</span>
                                            <span class="text-danger">*</span>

                                            <i data-feather="info" stroke-width="2" width="12" class="text-body"
                                               data-bs-toggle="tooltip" data-bs-placement="right"
                                               data-bs-custom-class="qd-tooltip"
                                               data-bs-title="The URL slug is automatically populated when you type the title."></i>
                                        </label>
                                        <input id="add-form-2" name="amount" class="form-control slug-url"
                                               type="text" value="{{ form.instance.amount }}">
                                    </div>

                                    <div class="col-12 mb5">
                                        <label for="add-form-2" class="form-label">
                                            <span>Product Price</span>
                                            <span class="text-danger">*</span>

                                            <i data-feather="info" stroke-width="2" width="12" class="text-body"
                                               data-bs-toggle="tooltip" data-bs-placement="right"
                                               data-bs-custom-class="qd-tooltip"
                                               data-bs-title="The URL slug is automatically populated when you type the title."></i>
                                        </label>
                                        <input id="add-form-2" name="price" class="form-control slug-url"
                                               type="text" value="{{ form.instance.price }}">
                                    </div>

                                    <div class="col-12 mb5">
                                        <label for="add-form-2" class="form-label">
                                            <span>Product Available</span>
                                            <span class="text-danger">*</span>

                                            <i data-feather="info" stroke-width="2" width="12" class="text-body"
                                               data-bs-toggle="tooltip" data-bs-placement="right"
                                               data-bs-custom-class="qd-tooltip"
                                               data-bs-title="The URL slug is automatically populated when you type the title."></i>
                                        </label>
                                        <br>
                                        {#                                        <input id="add-form-2" name="is_available"#}
                                        {#                                               type="radio" value="{{ form.instance.is_available }}">#}
                                        {#                                        <label value="{{ form.instance.is_available }}">{{ form.instance.is_available }}</label>#}

                                        <input id="add-form-2-true" name="is_available" type="radio" value="True"
                                               {% if form.instance.is_available %}checked{% endif %}>
                                        <label for="add-form-2-true">Available</label>

                                        <input id="add-form-2-false" name="is_available" type="radio" value="False"
                                               {% if not form.instance.is_available %}checked{% endif %}>
                                        <label for="add-form-2-false">Not Available</label>

                                    </div>


                                </div>
                            </div>
                        </div>
                        <!-- General End -->


                    </div>
                </div>
                <!-- Left Column End -->


                <!-- Buttons Start -->
                <div class="col-12 text-end">
                    <button type="submit" class="btn btn-primary">Edit Product</button>
                </div>
                <!-- Buttons End -->
            </form>
        </div>

        <!-- Content End -->
        </form>
    </div>

    </div>
{% endblock content %}