{% load static %}
<header class="main-header d-flex justify-content-between">
				<!-- ***** Sidebar Menu Open Button Start ***** -->
				<a href="javascript:;" class="sidebar-menu-trigger"><span>Menu</span></a>
				<!-- ***** Sidebar Menu Open Button End ***** -->

				<!-- ***** Navbar Start ***** -->
				<nav class="top-nav">
					<div class="logo">
						<a href="{% url 'index' %}" class="light-logo">
							<img src="{% static 'assets/media/itca.png' %}" height="30" alt="Qoduby">
						</a>

					</div>


				</nav>
				<!-- ***** Navbar End ***** -->

			</header>